@charset "UTF-8";

:root{
    --main-color: #7014E8;

    --main-color-select: #8028F6;
    --main-color-no-select: #9056FA;

    --second-color: #5002C6;

    --pause-color: #4000B5;
}

*{
    font-size: large;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'poppins';
}


/*//////////Header////////////*/

header{
    height: 3vh;

    align-items: center;

    background-color: var(--main-color);
    color: whitesmoke;


}

header h2{
    padding-top: 1rem;

    text-align: center;

    font-size: 14pt;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
}

/*////////////////////////////*/



main {
    width: 100vw;
    height: 97vh;

    background: var(--main-color);

    display: flex;
    align-items: center;
    flex-direction: column;



}

main span.init{
    width: 40vw;
    /* height: 30vh; */

    margin-top: 10vh;
    margin-bottom: 1vh;

    color: whitesmoke;

    font-size: 7vw;
    text-align: center;


    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    border-radius: .25rem;

}
main span.time {
    background-color: var(--second-color);

}

main span.pause {
    background-color: var(--pause-color);
}








main div#indicators {
    margin-bottom: 2vh;


    width: 40vw;

    padding: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 1vh;
    

}

main div#indicators button{
    margin: 5px;
    padding: 4px;

    color: whitesmoke;
    background: var(--main-color-no-select);

    justify-content: space-around;
    border-radius: .25rem;


    cursor: pointer;
    border: none;
    text-decoration: none;
}

main div#indicators button.select {
    background: var(--main-color-select);
}



/*///////////controller////////*/


#controller{
    

    font-size: 3vw;

    width: 10vw;
    height: 10vh;

    background: whitesmoke;
    color: var(--main-color);

    border: none;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .25rem;


}

